:root
{
    --clr-1: #350e64;
    --clr-2: #311b92;
    --clr-3: #6e5494;
    --clr-4: #91a7ff;
    --clr-5: white;
}

@property --gradient-angle
{
    syntax: "<angle>";
    initial-value: 0deg;
    inherits: false;
}

.box
{
  width: 100%;
  height: fit-content;

  display: flex;
  flex-direction: column;
  flex-flow: column;

  background: none;
}

.sub-box-1
{
    position: relative;
    width: 100%;
    height: 100vh;

    background: none;
}

.sub-box-1-1
{
  position: relative;
  width: 100%;
  height: fit-content;

  display: flex;
  flex-direction: column;
  flex-flow: wrap;
  gap: 3vmin;

  justify-content: center;
  align-items: center;

  padding-bottom: 6vmin;
  background: none;
}

.background
{
  position: absolute;
  width: 100%;
  height: 100vh;
}

.background img
{
  width: 100%;
  height: 100%;

  filter: brightness(35%);

  background-position: center;
  object-fit: cover;
  image-rendering: optimizeSpeed;

  -webkit-mask-image:-webkit-gradient(linear, left top, left bottom, from(rgba(0,0,0,1)), to(rgba(0,0,0,0)));
  mask-image: linear-gradient(to bottom, rgba(0,0,0,1), rgba(0,0,0,0));
}

.logo
{
    position: absolute;
    height: fit-content;
    width: 100%;

    display: flex;
    align-items: center;

    top: 0;
    padding: 1%;
}

.logo-img-container
{
    position: relative;
    height: 40px;
    width: 281px;

    display: flex;
    align-items: center;

    border-radius: 4px;

    z-index: 99;
}

.logo img
{
    height: 100%;
    width: 100%;

    object-fit: cover; 
    image-rendering: pixelated;

    background-color: #0a0a0a;
    border: 4px solid #0a0a0a;
}

.logo-img-container::before,
.logo-img-container::after
{
    content: "";
    z-index: -1;
    position: absolute;
    inset: -0.3rem;
    background: conic-gradient(
        from var(--gradient-angle),
        var(--clr-2),
        var(--clr-3),
        var(--clr-4),
        var(--clr-3),
        var(--clr-2));
    border-radius: inherit;
    animation: rotation 8s linear infinite;
}

.logo-img-container::after
{
  filter: blur(1rem);
}

@keyframes rotation
{
    0% { --gradient-angle: 0deg }
    100% { --gradient-angle: 360deg }
}

/* mobile device */
@media (max-width: 850px) {
    .sub-box-1
    {
        gap: 10vmin;
    }

    .logo
    {
        padding-top: 1rem;
        justify-content: center;
    }
}