:root
{
    --clr-1: #350e64;
    --clr-2: #311b92;
    --clr-3: #6e5494;
    --clr-4: #91a7ff;
    --clr-5: white;
}

@property --gradient-angle
{
    syntax: "<angle>";
    initial-value: 0deg;
    inherits: false;
}

.box
{
  width: 100%;
  height: fit-content;

  display: flex;
  flex-direction: column;
  flex-flow: column;

  background: none;
}

.sub-box-1
{
    position: relative;
    width: 100%;
    height: 100vh;

    background: none;
}

.sub-box-1-1
{
  position: relative;
  width: 100%;
  height: fit-content;

  display: flex;
  flex-direction: column;
  flex-flow: wrap;
  gap: 3vmin;

  justify-content: center;
  align-items: center;

  padding-bottom: 6vmin;
  background: none;
}

.background
{
  position: absolute;
  width: 100%;
  height: 100vh;
}

.background img
{
  width: 100%;
  height: 100%;

  filter: brightness(30%);

  background-position: center;
  object-fit: cover;
  image-rendering: optimizeSpeed;

  -webkit-mask-image:-webkit-gradient(linear, left top, left bottom, from(rgba(0,0,0,1)), to(rgba(0,0,0,0)));
  mask-image: linear-gradient(to top, rgba(0,0,0,1), rgba(0,0,0,0));
}

/* mobile device */
@media (max-width: 850px) {
    .sub-box-1
    {
        gap: 10vmin;
    }
}