:root 
{
  font-family: "Jersey 10", system-ui, sans-serif;
  font-optical-sizing: auto;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.85);

  background-color: black
}

*
{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

img
{
    -khtml-user-select: none;
    -o-user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}

body, html
{
  height: 100%;

  word-break: normal;
  text-align: justify;
  letter-spacing: 0.01em;

  text-rendering: optimizeLegibility;

  font-weight: 800;
}

h1 
{
  width: 100%;

  font-size: 5em;
  line-height: 1.1;

  padding-left: 4%;
}

h3, span
{
  width: 100%;

  color: #6e5494;

  font-size: 1.4em;
}

p
{
  width: 100%;
  font-size: 2.5em;

  padding-left: 2%;
  padding-right: 2%;
}

a 
{
  text-decoration: inherit;

  background-image: linear-gradient(#91a7ff, #311b92);
  color: transparent;
  background-clip: text;

  transition: all 0.18s ease;
}
a:hover 
{
  color: white;
  cursor: pointer;
}

button:hover
{
  cursor: pointer;
}

/* mobile device */
@media (max-width: 850px) {
  p
  {
    font-size: 1.8em;
  }

  h1
  {
    padding-left: 0;
    text-align: center;
    font-size: 3.2em;
  }

  h3
  {
    font-size: 1.25em;
  }
}