nav
{
    position: fixed;
    width: 100%;

    display: flex;
    top: 0;
    padding: 1%;
    
    background-color: transparent;

    z-index: 100;
}

.ham-menu
{
    position: relative;
    height: 40px;
    width: 40px;

    margin-left: auto;

    border: 1px solid transparent;
    border-radius: 5px;

    transition: .3s ease;
}

.ham-menu:hover
{
    cursor: pointer;
    border: 1px solid white;
}

.ham-menu span
{
    position: absolute;
    height: 5px;
    width: 80%;

    top: 50%;
    left: 50%;

    border-radius: 4px;

    transform: translate(-50%, -50%);
    transition: .3s ease;
}

.ham-menu span:nth-child(1)
{
    width: 70%;
    top: 25%;

    background-color: #91a7ff;
}

.ham-menu span:nth-child(2)
{
    top: 52%;
    background-color: #311b92;
}

.ham-menu span:nth-child(3)
{
    width: 70%;
    top: 75%;

    background-color: #350e64;
}

.ham-menu.active span:nth-child(1)
{
    top: 50%;
    transform: translate(-50%, -50%) rotate(45deg);
}

.ham-menu.active span:nth-child(2)
{
    opacity: 0;
}

.ham-menu.active span:nth-child(3)
{
    top: 50%;
    transform: translate(-50%, -50%) rotate(-45deg);
    background-color: #91a7ff;
}

.off-screen-menu
{
    height: 100vh;
    width: 100%;
    max-width: 400px;

    display: flex;
    flex-direction: column;
    align-items: center;

    position: fixed;
    top: 0;
    right: -400px;
    border-radius: 10px;
    padding-top: 4%;
    
    font-size: 2.5em;
    border: 1px solid rgba(100, 100, 100, 0.5);
    background-color: rgba(0, 0, 0, 0.7);

    z-index: 100;

    transition: 225ms ease;
}

.off-screen-menu.active
{
    right: -10px;
}

.off-screen-menu a
{
    width: 100%;

    padding: 2%;
    padding-right: 8%;

    text-align: right;

    border-bottom: 1px solid rgba(100, 100, 100, 0.5);

    transition: transform 50ms ease;
}

.off-screen-menu a:nth-child(1)
{
    border-top: 1px solid rgba(100, 100, 100, 0.5);
}

.off-screen-menu a:hover
{
    transform: translateX(-10px);
    border: 1px solid white;
    border-right: none;
    font-weight: 800;
    background-color: #0a0a0a;
}

/* mobile device */
@media (max-width: 850px) {
    nav
    {
        padding-top: 1rem;
    }    

    .ham-menu:hover
    {
        border: none;
    }
}