nav
{
    position: absolute;
    height: fit-content;
    width: 100%;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    gap: 10px;
    
    background-color: transparent;

    z-index: 100;
}

.nav-button-container
{
    height: 100%;
    width:100%;

    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.nav-button
{
    position: relative;
    width: fit-content;
    height: fit-content;

    display: flex;
    justify-content: center;
    align-items: center;

    text-align: center;
}

.nav-button a
{
    font-size: 2.3em;
    display: inline-block;
    position: relative;
}

.nav-button a::after
{
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #91a7ff;
    transition: transform 0.25s ease-out;    
}

.nav-button a:hover::after
{
    transform: scaleX(1);
}

.logo
{
    position: relative;
    height: fit-content;
    width: 100%;

    display: flex;
    align-items: center;
    justify-content: center;

    padding: 1.8em;
}

.logo-img-container
{
    position: relative;
    height: 40px;
    width: 281px;

    display: flex;
    align-items: center;

    border-radius: 4px;
}

.logo img
{
    height: 100%;
    width: 100%;

    object-fit: cover; 
    image-rendering: pixelated;

    background-color: #0a0a0a;
    border: 4px solid #0a0a0a;
}

.logo-img-container::before,
.logo-img-container::after
{
    content: "";
    z-index: -1;
    position: absolute;
    inset: -0.3rem;
    background: conic-gradient(
        from var(--gradient-angle),
        var(--clr-2),
        var(--clr-3),
        var(--clr-4),
        var(--clr-3),
        var(--clr-2));
    border-radius: inherit;
    animation: rotation 8s linear infinite;
}

.logo-img-container::after
{
  filter: blur(1rem);
}

@keyframes rotation
{
    0% { --gradient-angle: 0deg }
    100% { --gradient-angle: 360deg }
}

/* mobile device */
@media (max-width: 850px) {
    .nav-button a
    {
        font-size: 1.8em;
    }
}