.welcome
{
  position: relative;
  width: 100%;
  height: 100vh;

  display: flex;
  flex-direction: column;
  gap: 3vmin;

  justify-content: center;
  align-items: center;

  background-image: linear-gradient(to bottom, transparent 75%, black);
}

.portrait
{
  width: 100%;
  height: fit-content;
  position: relative;

  display: flex;
  justify-content: center;
  align-items: center;
}

.portrait-card
{
  width: 30em;
  height: 30em;

  background-color: transparent;
  border-radius: 50%; 

  perspective: 1000px;
}

.portrait-card-inner
{
  position: relative;
  width: 100%;
  height: 100%;
  
  border: 3px solid #0a0a0a;
  border-radius: 50%;

  transition: transform 0.8s;
  transform-style: preserve-3d;
}

.portrait-card:hover .portrait-card-inner {
  transform: rotateY(180deg);
}

.portrait-front, .portrait-back
{
  position: absolute;
  width: 100%;
  height: 100%;

  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;
  border-radius: 50%; 
}

.portrait-img
{
    width: 100%;
    height: 100%;

    object-fit: cover;
    image-rendering: optimizeQuality;

    border-radius: 50%; 
}

.portrait-back
{
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;

  background-color: #0a0a0a;
  transform: rotateY(180deg);
}

/* mobile device */
@media (max-width: 800px) {
  .portrait-card
  {
    width: 18em;
    height: 18em;
  }

  .b-d-button
  {
    width: 3em;
    height: 3em;
  }

  .off-screen-menu
  {
    padding-top: 13%;
  }
}