/* about style sheet */

.info-box 
{
    display: flex;
    width: 90%;
    translate: 5%;
    margin-bottom: 1%;
}

.info
{
    width: auto;
}

.info-p, .skills-p
{
    padding-top: 2%;
    padding-right: 2%;
    padding-bottom: 2%;
}

.skills-p
{
    border-bottom: 2px solid rgba(255, 255, 255, 0.5);
}

.info-p
{
    margin-bottom: 2%;
}

.buttons
{
    padding-bottom: 1%;
}