/* contact style sheet */
button
{
    background-color: transparent;
    border: none;
    transition: transform 0.3s ease;
}

button:hover
{
    cursor: pointer;
    transform: scale(1.15)
}

.info-box 
{
    translate: 50%;

    display: flex;
    width: fit-content;
    padding: 1%;

    background-color: rgba(0, 0, 0, 0.5);
    border: 2px solid rgba(255, 255, 255, 0.2);
    border-style: dashed;
}

.info-p
{
    width: auto;
    text-align: center;
    word-wrap: break-word;
    padding-top: 3%;
    padding-bottom: 3%;
}