*
{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body, html 
{
    height: 100%;
}

html
{
    background-color: #00010B;
}

.box
{
    position: absolute;
    overflow: auto;

    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;

    border-radius: 5px;
    border: 1px solid rgba(100, 100, 100, 0.5);
}

.container
{
    position: absolute;
    width: 100%;
    height: 100vh;
}

.logo
{
    height: 40px;
    width: 148px;

    position: absolute;
    margin: 1vmin;
    z-index: 1;

    background-image: url('/src/images/signature.png');
    background-position: center;
    background-size: cover; 
    image-rendering: pixelated;
}

.background
{
    position: absolute;
    height: 100%;
    width: 100%;
    background-image: url('/src/images/bg.gif');
    background-position: center;
    background-size: cover; 
    image-rendering: crisp-edges;
    filter: blur(2px);
    z-index: -2;
}

.background-overlay
{
    position: absolute;
    width: 100%;
    height: 100vh;

    background-color: rgba(0, 0, 0, .92);
}

.portrait
{
    position: relative;
    height: 80%;
    width: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
}

.portrait-image
{
    width: 50vmin;
    height: 50vmin;

    object-fit: cover;
    image-rendering: optimizeQuality;

    border-radius: 50%;
    border: 3px solid transparent;

    transition: all 0.3s ease;
}

.portrait-image:hover
{
    transform: scale(1.02);
    border-color: #6e5494;
}

.buttons
{
    position: relative;
    height: 20%;
   
    display: flex;
    flex-direction: row;
    gap: 5%;
    
    justify-content: center;
    align-items: center;
}

.button-container
{
    position: relative;
    width: 10vmin;
    height: 10vmin;

    display: flex;
    justify-content: center;
    align-items: center;
    
    border-radius: 50vmin;
    background-color: transparent;
    border: 1px solid rgba(100, 100, 100, 0.5);

    transition: all 0.18s ease;
}

.button-container:hover
{
    transform: scale(1.05);
    background-color: #6e5494;
}

.button-container:active
{
    background-color: #ffffff;
    border-color: #ffffff;
}

.index-button
{
    position: absolute;

    width: 100%;
    height: 100%;

    background-color: transparent;
    border-style: none;
    transition: transform 0.3s ease;
}

.index-button:hover
{
    cursor: pointer;
    transform: scale(1.3)
}

.button-icon
{
    position: absolute;
    width: 6vmin;
    height: 6vmin;

    object-fit: cover;

    background-color: transparent;
    border-style: none;
    color: transparent;
}

.content-container
{
    position: absolute;

    width: 100%;
    height: fit-content;

    display: flex;
    flex-direction: column;
    gap: 5vmin;

    padding-top: 5vmin;
    justify-content: center;
    align-items: center;
    
    border-top: 1px solid rgba(100, 100, 100, 0.5);
}

.projects-container
{
    position: relative;
    width: 100%;
    height: fit-content;

    display: flex;
    padding-top: 2%;
    margin-bottom: 2%;

    justify-content: center;
    align-items: center;
}

.projects-grid
{
    position: relative;
    width: 100vw;
    height: fit-content;

    display: flex;
    flex-direction: row;
    flex-flow: wrap;
    gap: 20px;

    justify-content: space-evenly;
}

.grid-item 
{
    position: relative;
    height: fit-content;
    width: 55vmin;

    justify-content: center;
    align-items: center;

    background-color: transparent;
    border-radius: 8px;
    border: 1px solid #6e5494;
    color: white;
    
    transition: all 0.3s ease;
}

.grid-item:hover 
{
    cursor: pointer;
    transform: scale(1.025);
    background-color: #6e5494;
    color: black;
}

.grid-image 
{
    width: 100%;
    height: 50%;
    object-fit: cover;
    border-style: none;
    border-radius: 8px;
}

.grid-logo, .grid-logo-ud
{
    position: absolute;
    top: 5%;
    bottom: 0px;
    right: 5%;

    width: 90%;
    height: 30%;

    image-rendering: pixelated;
}

.grid-text
{
    height: fit-content;
    padding: 5%;

    position: relative;

    font-size: 22px;    
    word-wrap: break-word;
}

:root {
    --clear: rgba(255, 255, 255, 0.05);
    --shine1: rgba(255, 255, 255, 0.1);
    --shine2: rgba(255, 255, 255, 0.25);
}

.shine-overlay 
{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

    width: 100%;
    height: 100%;
    background: linear-gradient(40deg, var(--clear) 65%, var(--shine1) 75%, var(--shine2) 85%, var(--shine1) 95% );
}