/* Stylesheet for index */
*
{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family : 'monaco', monospace;
}

html
{
    height: 100%;
    background-color: #17181a; /* For browsers that do not support gradients */
    background-image: linear-gradient(to bottom right, #0f1711, #243028, #89adc7);
}

body 
{
    /* border: 1px solid red; */
    margin-top: 150px;
    margin-left: 200px;
    height: auto;
    color: #faf9f7;
}

img
{
    border: 2px solid black;
    width: 100%;
    object-fit: cover;
}

h1
{
    /* border: 1px solid red; */
    font-family : "Times New Roman", Times, serif;
    font-size: 68px;
}

p
{
    word-wrap: break-word;

    font-family: 'monaco', 'Courier New', monospace;
    font-size: 28px;
}

a:link
{
    color: #ac38c9;
}

a:visited
{
    color: #471247;
}

a:active
{
    color: white;
}

a:hover
{
    color: white;
}

.header-links
{
    position: relative;
    display: flex;
    flex-direction: row;
    gap: 35px;
    margin-left: 70%; 
    margin-top: 1%;
    word-wrap: break-word;
    font-family: 'monaco', 'Courier New', monospace;
    font-size: 28px;
}

.header
{
    position: relative;
    display: flex;
    flex-direction: row;
    margin-top: -150px;
    margin-left: -200px;   
    margin-bottom: 7%;
    padding-left: 7%;
    padding-top: 2%;
    height: 50px;
    border-style: none;
}

.column.is-narrow 
{
    float: right;
}

.box 
{
    /* border: 1px solid red; */
    display: flex;
    width: 90%;
}

.info
{
    /* border: 1px solid red; */
    margin-right: 100px;
    width: auto;
}

.photo
{
    display: flex;
    justify-content: center;
    width: 60%;
    box-shadow: 5px 10px 10px #000000;
}

.info-p
{
    /* border: 1px solid red; */
    border-bottom: 1px solid white;

    padding-top: 50px;
    padding-right: 20px;
    padding-bottom: 50px;

    width: auto;
}

.buttons
{
    padding-top: 25px;
    position: relative;
    border-style: none;
   
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    width: fit-content;
    height: fit-content;
    gap: 20px;
}

.mail, .linkedin, .git
{
    /* background-color: rgba(255, 255, 255, 0.04); */
    border-radius: 8px;

    position: relative;
    width: 50px;
    height: 50px;
}

.mail-icon, .linkedin-icon, .git-icon
{
    position: absolute;
    background-color: transparent;
    border-style: none;
    color: transparent;
    object-fit: cover;
    width: 50px;
}

.mail-icon
{
    padding-top: 5px;
}

.mail-button, .linkedin-button, .git-button
{
    position: absolute;
    background-color: transparent;
    border-style: none;
    color: transparent;
    width: 50px;
    height: 50px;
}