/* general stlye sheet to apply on all pages */
*
{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body, html {
    height: 100%;
    font-family: 'Courier New', monospace;
    color: #faf9f7;
}

html
{
  background-color: #040206;
}

.box
{
    height: 100%;

    border: 1px solid rgba(255, 255, 255, 0.4);
    border-radius: 5px;
}

.header
{
    width: 100%;
    height: fit-content;
    padding-left: 25px;
    padding-bottom: 10px;

    display: flex;
    flex-direction: row;
    gap: 25px;

    border-bottom: 1px solid rgba(255, 255, 255, 0.4);
}

.content
{
    display: flex;
    flex-direction: column;
    align-items: center;

    gap: 20px;
}

.logo
{
    width: 70px;
    height: 70px;
    margin-top: .5%;

    display: flex;
    justify-content: center;

    background-color: transparent;
    border-radius: 5px;
    border: 3px solid rgba(255, 255, 255, 0.8);

    transition: background-color 0.18s ease;
}

.logo:hover
{
    background-color: rgba(255, 255, 255, 1);
}

.portrait
{
    width: 350px;
    height: 350px;

    object-fit: cover;

    border-radius: 50%;
    border: 2px solid rgba(255, 255, 255, 0.4);

    transition: transform 0.3s ease;
}

.portrait:hover
{
    transform: scale(1.1);
    border: 3px solid #7B1FA2;
}

.box-1
{
    width: 100%;

    padding-top: 2%;

    display: flex;
    flex-direction: row;
}

.sub-box-1, .sub-box-2, .sub-box-3
{
    width: 33.33%;

    display: flex;
    justify-content: center;
}

.sub-box-1, .sub-box-3
{
    padding-top: 3%;
    padding-left: 3%;
    gap: 50px;
}

.header-link, .header-contact
{
    height: fit-content;
    margin-top: 1%;
    padding-left: 3px;
    padding-right: 3px;

    font-family: monospace;
    font-size: 36px;
    font-weight: 900;
    text-align: center;
    color: rgba(255, 255, 255, 0.8);;
    text-decoration:none;

    border-radius: 5px;
    border-bottom: 3px solid #7B1FA2;

    background-color: transparent;

    background-repeat: no-repeat;
    background-size: 10px 10px;

    transition: background-color 0.18s ease;
    transition: color 0.25s ease;
}

.header-link:hover
{
    color: #040206;
    background-color: #7B1FA2;
}

.header-contact
{
    margin-left: 60%;

    border: 3px solid #7B1FA2;
    background-color: transparent;
    transition: background-color 0.18s ease;
}

.header-contact:hover
{
    background-color: #7B1FA2;
    border-color: #7B1FA2; 
}

.box-2
{
    width: 65%;
}

.intro
{
    word-wrap: break-word;
    font-size: 40px;
    text-align: center;
}

.buttons
{
    width: fit-content;
    height: fit-content;

    margin-top: 80px;
   
    display: flex;
    flex-direction: row;
    gap: 25px;
}

.linkedin, .git, .instagram, .spotify, .steam
{
    width: 50px;
    height: 50px;
    transition: transform 0.4s ease;
}

.linkedin-icon, .git-icon, .instagram-icon, .spotify-icon, .steam-icon
{
    object-fit: cover;
    width: 50px;

    background-color: transparent;
    border-style: none;
    color: transparent;

    position: absolute;
}

.linkedin-button, .git-button, .instagram-button, .spotify-button, .steam-button
{
    width: 50px;
    height: 50px;

    background-color: transparent;
    border-style: none;
    color: transparent;

    position: absolute;
}

.linkedin:hover, .git:hover, .instagram:hover, .spotify:hover, .steam:hover
{
    cursor: pointer;
    transform: translateY(-10px);
}