
.nav {
    position: relative;
    z-index: 1;
    height: 10%;

    display: flex;
    justify-content: space-between;
    align-items: center;

    margin-bottom: 5%;
    padding: 6px 30% 6px 30%;

    background-color: rgba(0, 0, 0, 0.5);
    border-bottom: 1px solid rgba(100, 100, 100, 0.5);
}

.nav-button {
    width: 15%;
    height: 50%;

    font-size: 22px;
    font-weight: lighter;

    border-radius: 4px;
    border-style: none;
    color: #9575CD;
    background-color: transparent;
    
    transition: color 0.18s, background-color 0.18s;
}

.nav-button:hover{
    color: black;
    background-color: #9575CD;
    cursor: pointer;
}

.home-button {
    width: 20%;
    height: 100%;

    border-radius: 4px;
    border-style: none;
    background-color: transparent;
    
    transition: color 0.18s, background-color 0.18s;
}

.home-logo {
    height: 80%;
    transition: height 0.18s;
}

.home-logo {
    fill:#9575CD;
}

.home-logo:hover {
    height: 90%;
    cursor: pointer;
}

.divider {
    border-left: 1px solid rgba(100, 100, 100, 0.5);
    width: 2px;
    height: 60%;
    display: inline;
}

.logo
{
    width: 70px;
    height: 70px;
    margin-top: .5%;

    display: flex;
    justify-content: center;

    background-color: transparent;
    border-radius: 5px;
    border: 3px solid #9575CD;

    transition: color 0.25s ease;
    transition: background-color 0.18s ease;
}

.logo:hover
{
    background-color: #9575CD;
}