
.nav {
    position: relative;
    z-index: 1;
    height: 10%;
    width: 100%;

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1%;

    margin-bottom: 5%;

    background-color: rgba(0, 0, 0, 0.5);
    border-bottom: 1px solid rgba(100, 100, 100, 0.5);
}

.nav-button {
    width: 15%;
    height: 50%;

    font-size: 2vw;
    font-weight: lighter;

    border-radius: 4px;
    border-style: none;
    color: #9575CD;
    background-color: transparent;
    
    transition: color 0.18s, background-color 0.18s;
}

.nav-button:hover{
    color: black;
    background-color: #9575CD;
    cursor: pointer;
}