.projects-container
{
    width: 100vw;
    height: 40vmin;

    display: flex;
    flex-direction: row;
    flex-flow: wrap;
    gap: 2%;

    justify-content: center;
    align-items: center;

    border: 1px solid green;
    opacity: 0;
    transform: translateY(20vh);
    visibility: hidden;
    transition: opacity 0.6s ease-out, transform 1.2s ease-out;
    will-change: opacity, visibility;
}

.projects-container.is-visible
{
    opacity: 1;
    transform: none;
    visibility: visible;
}

.project-box
{
    width: 30%;
    height: 85%;

    border-radius: 5px;
    border: 1px solid rgba(100, 100, 100, 0.5);
    background-color: #030104;

    transition: all .18s ease;
}

.project-box:hover
{
    transform: translateY(-15px);
}