/* projects style sheet */

:root 
{
    --clear: rgba(255, 255, 255, 0.05);
    --shine1: rgba(255, 255, 255, 0.15);
    --shine2: rgba(255, 255, 255, 0.65);
}

.grid 
{
    width: 100%;
    justify-content: center;

    display: grid;
    gap: 5%;
    grid-template-columns: 300px 300px;
    
}

.grid-item 
{
    position: relative;

    height: 420px;
    background: none;
    box-shadow: 0px 8px 30px rgba(120, 0, 255, 0.5);
    border: 1px solid black;

    transition: transform 0.3s ease;
}

.grid-item:hover 
{
    cursor: pointer;
    transform: scale(1.15)
}

.grid-image 
{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-style: none;
}

.grid-logo 
{
    position: absolute;
    top: 5%;
    bottom: 0px;
    right: 5%;
    border-style: none;
    width: 90%;
}

.shine-overlay 
{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

    width: 100%;
    height: 100%;
    background: linear-gradient(40deg, var(--clear) 65%, var(--shine1) 75%, var(--shine2) 85%, var(--shine1) 95% );
}