body, .nav-button
{
    font-family: "Oxanium", monospace;
}

a
{
    text-decoration: none;
    font-weight: 900;
    color: #9575CD;
    font-size: 4.5vmin;
}

html
{
    /* fallback */
    font-size: 12px;
}

a:hover
{
    color: white;
}

a:active
{
    color: #9575CD;
}

.intro-paragraph, .grid-text
{
    width: 90%;
    margin-top: 15vmin;
    position: relative;

    color: white;
    font-size: 4.5vmin;
    word-wrap: break-word;
}

.grid-text
{
    margin-top: 0px;
}

.last-updated
{
    font-size: 2.5vmin;
    color: white;
}

.nav-button 
{
    font-size: 3vmin;
    color: #9575CD;
    font-weight: 900;
}

.header1
{
    font-size: 10vmin;
    font-weight: 900;
    color: #9575CD;
}

.header2
{
    font-size: 4vmin;
    font-weight: 900;
    color: #9575CD;
}

.header3
{
    font-size:2vmin; 
    font-weight: 900;
    color: white;
}