.background
{

    background-image: url('/src/images/project-thumbnail-ud.png');
}


.ud-logo
{
    position: relative;

    width: 100%;

    margin-top: 5%;
    margin-bottom: 5%;

    display: flex;
    justify-content: center;
    align-items: center;
}

.ud-logo-image
{
    position: relative;
    height: 25vmin;

    object-fit: cover;
    image-rendering: pixelated;

    transition: all 0.3s ease;
}

.ud-logo-image:hover
{
    transform: scale(1.05);
}

.content-container
{
    width: 100%;
    height: fit-content;
    
    margin-top: 55vmin;
    padding-bottom: 2%;
    margin-bottom: 2%;
}